<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <title>aMSN Messenger</title>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
</head>

<body>

<table cellpadding="15" cellspacing="15" border="0" width="100%">
  <tbody>
    <tr>
      
      <td valign="top" width="350" style="background-color: rgb(153, 255, 255);">

      <div align="center"><a href="http://sourceforge.net"><b><img
 src="http://sourceforge.net/sflogo.php?group_id=54091&amp;type=7"
 alt="Sourceforge Logo" width="210" height="62" border="0"> </b></a><br>
      </div>

      <div align="center"><b>Project web page:</b> <br></div>

      <div align="center"><a href="http://sourceforge.net/projects/amsn/">http://sourceforge.net/projects/amsn/<br></a>

      <hr width="100%" size="2"><br>

     <div align="center">Translation files are in directory 'lang/'<br>
      <b><big><br>Join our mailing list!!</big><br><br></b>

      <div align="left">We have an <a href="http://lists.sourceforge.net/lists/listinfo/amsn-lang">amsn-lang mailing list</a> available for people who wish to help us. You
      can join it by visiting <a href="http://lists.sourceforge.net/lists/listinfo/amsn-lang">this page</a>. Translations requests for new sentences will be sent
      to this list, so anyone can instanly answer and send us the translation.<br><br>
      </div>
      <b><big><br>How to translate missing keys, please READ THIS before translating</big><br><br></b>

      <div align="left">First of all: <b>always download</b> the latest
version   of the language file (at the bottom of this colum) before
translating, and <b>take the english translations</b> (bottom
of the page) as base for  your translation, not just the name of the
keys (they can be confusing).<br>
      <br>
Here is where the missing language catalog entries for each language
are listed . <b>Check the missing key in the english language table</b>,
and  translate it into your language. Then just add a new line to the
file      langXX  for each key - translation pair.<br>
      <br>
      <b>Be careful with $1, $2... parameters</b> that exist in some
sentences. You   can  change their position, but they must appear on the
sentence,    they'll    be substituted  during execution with some
values.<br>
      <br>
&nbsp;<br>
      </div>
      <b><big>How to add a new language</big><br>
      <br>
      </b>
      <div align="left">Choose a two letter identifier you your
language (for example english - en). Copy file "langen" in the "lang/"
subdirectory to "langXX". Translate the sentences, but don't change the
first word of each line (this is the key). To add the language to the
menu, edit the "langlist"           file in the amsn directory, and add
a line:<br>
      <br>
XX language_name<br>
      </div>
      <b><br>
      <br>
      <big> Submiting a translation</big></b><br>
      <br>
      <div align="left">You can help us in translating some sentences
to your language, or modifying wrongly translated sentences<br>
Please send the updated langXX file, or just a mail with   the   new
key   -  translation  pairs to:<br>
      </div>
      <br>
      <a href="mailto:amsn-translations@lists.sourceforge.net">Translation Manager</a><br><br>
      <div align="left">Or, if you're subscribed to the amsn-lang list:<br>
      </div>
      <br>
      <a href="mailto:amsn-lang@list.sourceforge.net">amsn-lang@lists.sourceforge.net</a><br>
      </div>
      <br>
      <hr width="100%" size="2"><br>

      <b><big>Missing keys for:</big></b><br><br></div>
