<?xml version="1.0"?>

<!--
             settings.xml  --- 2003/07/01  --- KaKaRoTo

	     Default AMSN skin
	     Configuration for smileys
	     
	     file should begin with <smileys> and end with </smileys>
	     To define a new emoticon, you must put it between the statements <emoticon> and </emoticon>
	     You must define the 3 variables : <name>, <text> and <file> in order to successfully create the emoticon
	     You may have as many text statements but only one for name and one for file
	     <name> will be the name of the smiley 
	     <text> is the text binded to be replaced by the emoticon
	     <file> is the filename of the emoticon image without extension (extension must be .gif)
	     
	     A "TRUE" value is either "yes", "y", "true" or "1", a FALSE value is any other value
	     The smileys are sorted in the smileys menu depending on their position in this file

	     Here are the other options available... maybe more to come :
	     <animated> : set it to TRUE to specify it's an animated gif
	     <sound> : sets the filename for playing an emotisound for that smiley without extension (must be .wav)
	     <casesensitive> : set it to TRUE if you want to trigger that smiley on a case sensitive text
	     <disabled> : set it to TRUE and the smiley will be disabled.. same effect as if the whole
	     emoticon statements were commented
	     <hiden> : set it to TRUE if you want to hide the smiley from the smileys menu

	     any suggestions, or questions... write to amsn-devel mailing list
-->

<smileys>

   <emoticon>
      <name> smile </name>
      <text> ":)" </text>
      <text> ":-)" </text>
      <file> smile </file>
   </emoticon>

   <emoticon>
      <name> wink </name>
      <text> ";)" </text>
      <file> wink </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> smiled </name>
      <text> ":D" </text>
      <text> ":-D" </text>
      <text> ":>" </text>
      <text> ":->" </text>
      <file> smiled </file>
   </emoticon>

   <emoticon>
      <name> smilep </name>
      <text> ":P" </text>
      <text> ":-P" </text>
      <file> smilep </file>
   </emoticon>

   <emoticon>
      <name> sad </name>
      <text> ":(" </text>
      <text> ":-(" </text>
      <text> ":&lt;" </text>  
      <text> ":-&lt;" </text> 
      <file> sad </file>
   </emoticon>

   <emoticon>
      <name> disgust </name>
      <text> ":|" </text>
      <text> ":-|" </text>
      <file> disgust </file>
   </emoticon>

   <emoticon>
      <name> crooked </name>
      <text> ":S" </text>
      <text> ":-S" </text>
      <file> crooked </file>
   </emoticon>

  <emoticon>
      <name> smileo </name>
      <text> ":O" </text>
      <text> ":-O" </text>
      <file> smileo </file>
   </emoticon>

  <emoticon>
      <name> smilec </name>
      <text> ":`(" </text>
      <file> smilec </file>
   </emoticon>

  <emoticon>
      <name> cry </name>
      <text> ":'(" </text>
      <file> cry </file>
      <animated> 1 </animated>
   </emoticon>

   <emoticon>
      <name> angry </name>
      <text> ":@" </text>
      <text> ":-@" </text>
      <file> angry </file>
   </emoticon>

   <emoticon>
      <name> aggresive </name>
      <text> "8o|" </text>
      <file> aggresive </file>
   </emoticon>

   <emoticon>
      <name> smilemb </name>
      <text> ":$" </text>
      <text> ":-$" </text>
      <file> smilemb </file>
   </emoticon>

   <emoticon>
      <name> zip </name>
      <text> ":-#" </text>
      <file> zip </file>
   </emoticon>

   <emoticon>
      <name> kiss </name>
      <text> ":-*" </text>
      <file> kiss </file>
   </emoticon>

   <emoticon>
      <name> new7 </name>
      <text> ":^)" </text>
      <file> new7 </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> glasses </name>
      <text> "8-|" </text>
      <file> glasses </file>
   </emoticon>

   <emoticon>
      <name> new5 </name>
      <text> "8-)" </text>
      <file> new5 </file>
      <animated> 1 </animated>
   </emoticon>

   <emoticon>
      <name> new4 </name>
      <text> "|-)" </text>
      <file> new4 </file>
      <animated> 1 </animated>
   </emoticon>

   <emoticon>
      <name> new3 </name>
      <text> "+o(" </text>
      <file> new3 </file>
   </emoticon>

   <emoticon>
      <name> new2 </name>
      <text> "*-)" </text>
      <file> new2 </file>
      <animated> 1 </animated>
   </emoticon>

   <emoticon>
      <name> new1 </name>
      <text> "^o)" </text>
      <file> new1 </file>
   </emoticon>

   <emoticon>
      <name> emhottie </name>
      <text> "(h)" </text>
      <file> emhottie </file>
   </emoticon>

   <emoticon>
      <name> brb </name>
      <text> "(brb)" </text>
      <file> brb </file>
   </emoticon>

   <emoticon>
      <name> party </name>
      <text> "&lt;:o)" </text>
      <file> party </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> angel </name>
      <text> "(a)" </text>
      <file> angel </file>
   </emoticon>

   <emoticon>
      <name> devil </name>
      <text> "(6)" </text>
      <file> devil </file>
   </emoticon>

   <emoticon>
      <name> love </name>
      <text> "(l)" </text>
      <file> love </file>
   </emoticon>

   <emoticon>
      <name> unlove </name>
      <text> "(u)" </text>
      <file> unlove </file>
   </emoticon>

   <emoticon>
      <name> lips </name>
      <text> "(k)" </text>
      <file> lips </file>
   </emoticon>

   <emoticon>
      <name> rose </name>
      <text> "(F)" </text>
      <file> rose </file>
   </emoticon>

   <emoticon>
      <name> rosew </name>
      <text> "(W)" </text>
      <file> rosew </file>
   </emoticon>

   <emoticon>
      <name> beer </name>
      <text> "(b)" </text>
      <file> beer </file>
   </emoticon>

   <emoticon>
      <name> coctail </name>
      <text> "(D)" </text>
      <file> coctail </file>
   </emoticon>

   <emoticon>
      <name> emcup </name>
      <text> "(C)" </text>
      <file> emcup </file>
   </emoticon>

   <emoticon>
      <name> cake </name>
      <text> "(^)" </text>
      <file> cake </file>
      <animated> true </animated>
   </emoticon>

   <emoticon>
      <name> toilet </name>
      <text> "(pl)" </text>
      <file> toilet </file>
   </emoticon>

   <emoticon>
      <name> pizza </name>
      <text> "(pi)" </text>
      <file> pizza </file>
   </emoticon>

   <emoticon>
      <name> emphone </name>
      <text> "(t)" </text>
      <file> emphone </file>
   </emoticon>

   <emoticon>
      <name> mobphone </name>
      <text> "(mp)" </text>
      <file> mobphone </file>
   </emoticon>

   <emoticon>
      <name> email </name>
      <text> "(e)" </text>
      <file> email </file>
   </emoticon>

   <emoticon>
      <name> computer </name>
      <text> "(co)" </text>
      <file> computer </file>
   </emoticon>

   <emoticon>
      <name> clk </name>
      <text> "(o)" </text>
      <file> clk </file>
   </emoticon>

   <emoticon>
      <name> photo </name>
      <text> "(p)" </text>
      <file> photo </file>
   </emoticon>

   <emoticon>
      <name> film </name>
      <text> "(~)" </text>
      <file> film </file>
   </emoticon>

   <emoticon>
      <name> embulb </name>
      <text> "(i)" </text>
      <file> embulb </file>
      <sound> beep </sound>
   </emoticon>

   <emoticon>
      <name> handcuffs </name>
      <text> "(%)" </text>
      <file> handcuffs </file>
   </emoticon>

   <emoticon>
      <name> chopsticks </name>
      <text> "(||)" </text>
      <file> chopsticks </file>
   </emoticon>

   <emoticon>
      <name> umbrella </name>
      <text> "(um)" </text>
      <file> umbrella </file>
   </emoticon>

   <emoticon>
      <name> xbox </name>
      <text> "(xx)" </text>
      <file> xbox </file>
   </emoticon>

   <emoticon>
      <name> money </name>
      <text> "(mo)" </text>
      <file> money </file>
   </emoticon>

   <emoticon>
      <name> gift </name>
      <text> "(g)" </text>
      <file> gift </file>
   </emoticon>

   <emoticon>
      <name> cigarette </name>
      <text> "(ci)" </text>
      <file> cigarette </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> car </name>
      <text> "(au)" </text>
      <file> car </file>
   </emoticon>

   <emoticon>
      <name> plane </name>
      <text> "(ap)" </text>
      <file> plane </file>
   </emoticon>

   <emoticon>
      <name> football </name>
      <text> "(so)" </text>
      <file> football </file>
   </emoticon>

   <emoticon>
      <name> emnote </name>
      <text> "(8)" </text>
      <file> emnote </file>
   </emoticon>

   <emoticon>
      <name> asl </name>
      <text> "(?)" </text>
      <file> asl </file>
   </emoticon>

   <emoticon>
      <name> emstar </name>
      <text> "(*)" </text>
      <file> emstar </file>
   </emoticon>

   <emoticon>
      <name> emsleep </name>
      <text> "(s)" </text>
      <file> emsleep </file>
   </emoticon>

   <emoticon>
      <name> rainbow </name>
      <text> "(r)" </text>
      <file> rainbow </file>
   </emoticon>

   <emoticon>
      <name> rain </name>
      <text> "(st)" </text>
      <file> rain </file>
   </emoticon>

   <emoticon>
      <name> sun </name>
      <text> "(#)" </text>
      <file> sun </file>
   </emoticon>

   <emoticon>
      <name> storm </name>
      <text> "(li)" </text>
      <file> storm </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> island </name>
      <text> "(ip)" </text>
      <file> island </file>
   </emoticon>

   <emoticon>
      <name> dog </name>
      <text> "(&)" </text>
      <file> dog </file>
      <sound> woof </sound>
   </emoticon>

   <emoticon>
      <name> emcat </name>
      <text> "(@)" </text>
      <file> emcat </file>
      <sound> meow </sound>
   </emoticon>

   <emoticon>
      <name> turtle </name>
      <text> "(tu)" </text>
      <file> turtle </file>
   </emoticon>

   <emoticon>
      <name> snail </name>
      <text> "(sn)" </text>
      <file> snail </file>
   </emoticon>

   <emoticon>
      <name> sheep </name>
      <text> "(bah)" </text>
      <file> sheep </file>
   </emoticon>

   <emoticon>
      <name> vampire </name>
      <text> ":-[" </text>
     <text> ":[" </text>
      <file> vampire </file>
      <animated> yes </animated>
   </emoticon>

   <emoticon>
      <name> messenger </name>
      <text> "(m)" </text>
      <file> messenger </file>
   </emoticon>

   <emoticon>
      <name> boyhug </name>
      <text> "({)" </text>
      <file> boyhug </file>
   </emoticon>

   <emoticon>
      <name> emboy </name>
      <text> "(Z)" </text>
      <file> emboy </file>
   </emoticon>

   <emoticon>
      <name> girlhug </name>
      <text> "(})" </text>
      <file> girlhug </file>
   </emoticon>

   <emoticon>
      <name> emgirl </name>
      <text> "(x)" </text>
      <file> emgirl </file>
   </emoticon>

   <emoticon>
      <name> thumbu </name>
      <text> "(y)" </text>
      <file> thumbu </file>
   </emoticon>

   <emoticon>
      <name> thumbd </name>
      <text> "(n)" </text>
      <file> thumbd </file>
   </emoticon>

   <emoticon>
      <name> fingerscrossed </name>
      <text> "(yn)" </text>
      <file> fingerscrossed </file>
   </emoticon>

   <emoticon>
      <name> hifive </name>
      <text> "(h5)" </text>
      <file> hifive </file>
   </emoticon>


 <!--Those were took from the trillian skin, and were only meant for testings...-->
   <emoticon>
      <name> rolling eyes </name>
      <text> "I-'" </text>
      <file> emroll </file>
      <animated> 1 </animated>
      <hiden> yes </hiden>
      <disabled> yes </disabled>
   </emoticon>

   <emoticon>
      <name> lol </name>
      <text> "LOL" </text>
      <file> emlol </file>
      <animated> 1 </animated>
      <casesensitive> true </casesensitive>
      <sound> lol </sound>
      <hiden> yes </hiden>
      <disabled> yes </disabled> 
   </emoticon>

</smileys>