<?xml version="1.0"?>

<!--
#####################################################################
#                    aMSN Default Skin                             #
#                                                                   #
#      - Made by Tom Jenkins (one_big_offspringfreak@yahoo.co.uk)#
#      - Requires (at least) aMSN 0.95                            #
####################################################################
-->

<skin>
	<Information>
		<Author>Tom Jenkins</Author>
		<Contact>tom@thejenkins.org.uk</Contact>
		<Description>Stylistic skin by bluetit (tom@thejenkins.org.uk)</Description>
		<Version>1.0</Version>
	</Information>

	<General>
		<Colors>
			<balloonbackground>#daeafe</balloonbackground>
			<balloonborder>#2e8afe</balloonborder>
			<balloontext>#0000dd</balloontext>
		</Colors>
		<Geometry>
			<notifwidth>150</notifwidth>
			<notifheight>100</notifheight>
			<x_notifyclose>132</x_notifyclose>
			<y_notifyclose>2</y_notifyclose>
			<x_notifydp>1</x_notifydp>
			<y_notifydp>22</y_notifydp>
			<x_notifytext>55</x_notifytext>
			<y_notifytext>22</y_notifytext>
			<width_notifytext>93</width_notifytext>
		</Geometry>
		<!--Note: On linux, balloonborderwidth 0 gives a border of 1px due to tk platform differences. To have no balloon border, set balloonborderwidth to 0 and have the balloonborder the same colour as the balloonbackground-->
		<Options>
			<balloonfont>splainf</balloonfont>
			<balloonborderwidth>0</balloonborderwidth>
		</Options>
	</General>
	<ContactList>
		<Colors>
			<mainwindowbg>#aaaaaa</mainwindowbg>
			<groupcolorextend>#000000</groupcolorextend>
			<groupcolorcontract>#666666</groupcolorcontract>
			<contact_online>#0000ab</contact_online>
			<contact_away>#008800</contact_away>
			<contact_noactivity>#008800</contact_noactivity>
			<contact_rightback>#008800</contact_rightback>
			<contact_onphone>#bb0000</contact_onphone>
			<contact_busy>#bb0000</contact_busy>
			<contact_gonelunch>#008800</contact_gonelunch>
			<contact_offline>#666666</contact_offline>
		</Colors>
		<Geometry>
			<bigstate_xpad>0</bigstate_xpad>
			<bigstate_ypad>0</bigstate_ypad>
			<mystatus_xpad>3</mystatus_xpad>
			<mystatus_ypad>0</mystatus_ypad>
			<mailbox_xpad>2</mailbox_xpad>
			<mailbox_ypad>2</mailbox_ypad>
			<contract_xpad>8</contract_xpad>
			<contract_ypad>6</contract_ypad>
			<expand_xpad>8</expand_xpad>
			<expand_ypad>6</expand_ypad>
			<x_dp_top>1</x_dp_top>
			<y_dp_top>1</y_dp_top>
			<buddy_ypad>3</buddy_ypad>
		</Geometry>
		<Options>
			<underline_contact>1</underline_contact>
			<showdisplaycontactlist>1</showdisplaycontactlist>
			<emailabovecolorbar>1</emailabovecolorbar>
		</Options>
	</ContactList>

	<ChatWindow>
		<Colors>
			<chatwindowbg>#d3d2e2</chatwindowbg>
			<buttonbarbg>#f4f4f4</buttonbarbg>
			<tabbarbg>#d3d2e2</tabbarbg>
			<chat_buttons_border_color>#646464</chat_buttons_border_color>
			<chat_input_border_color>#646464</chat_input_border_color>
			<chat_output_border_color>#646464</chat_output_border_color>
			<chat_dp_border_color>#646464</chat_dp_border_color>
			<sendbuttonbg>#ffffff</sendbuttonbg>
			<topbarbg>#f3f3ff</topbarbg>
			<topbarbg_sel>#d8d8ff</topbarbg_sel>
			<topbartext>#0005c3</topbartext>
			<topbarborder>#5155ff</topbarborder>
			<topbarawaybg>#f7fff7</topbarawaybg>
			<topbarawaybg_sel>#d7ffd7</topbarawaybg_sel>
			<topbarawaytext>#00aa00</topbarawaytext>
			<topbarawayborder>#009a00</topbarawayborder>
			<topbarbusybg>#fff3f7</topbarbusybg>
			<topbarbusybg_sel>#ffd3d7</topbarbusybg_sel>
			<topbarbusytext>#a21010</topbarbusytext>
			<topbarbusyborder>#9c0000</topbarbusyborder>
			<topbarofflinebg>#f6f6f6</topbarofflinebg>
			<topbarofflinebg_sel>#d6d6d6</topbarofflinebg_sel>
			<topbarofflinetext>#424242</topbarofflinetext>
			<topbarofflineborder>#5e5e5e</topbarofflineborder>
			<statusbarbg>#fcfcee</statusbarbg>
			<statusbarbg_sel>#bbbbee</statusbarbg_sel>
			<statusbartext>#000000</statusbartext>
			<chat_status_border_color>#6b5600</chat_status_border_color>

		</Colors>
		
		<Geometry>
			<chat_top_padx>1</chat_top_padx>
			<chat_top_pady>0</chat_top_pady>
			<chat_paned_padx>1</chat_paned_padx>
			<chat_paned_pady>1</chat_paned_pady>
			<chat_output_padx>0</chat_output_padx>
			<chat_output_pady>0</chat_output_pady>
			<chat_buttons_padx>0</chat_buttons_padx>
			<chat_buttons_pady>0</chat_buttons_pady>
			<chat_input_padx>0</chat_input_padx>
			<chat_input_pady>0</chat_input_pady>
			<chat_dp_padx>2</chat_dp_padx>
			<chat_dp_pady>1</chat_dp_pady>
			<chat_leftframe_padx>0</chat_leftframe_padx>
			<chat_leftframe_pady>0</chat_leftframe_pady>
			<chat_sendbutton_padx>3</chat_sendbutton_padx>
			<chat_sendbutton_pady>3</chat_sendbutton_pady>
			<chat_status_padx>1</chat_status_padx>
			<chat_status_pady>4</chat_status_pady>
			<chat_sash_pady>4</chat_sash_pady>
                        <tab_text_x>5</tab_text_x>
                        <tab_text_y>5</tab_text_y>
                        <tab_text_width>80</tab_text_width>
                        <tab_close_x>85</tab_close_x>
                        <tab_close_y>5</tab_close_y>
                        
		</Geometry>
		
		<Options>
			<chat_top_border>1</chat_top_border>
			<chat_output_border>1</chat_output_border>
			<chat_buttons_border>1</chat_buttons_border>
			<chat_input_border>1</chat_input_border>
			<chat_dp_border>1</chat_dp_border>
			<chat_status_border>1</chat_status_border>
			<chat_sash_showhandle>0</chat_sash_showhandle>
		</Options>
	</ChatWindow>

	<smileys>
		<size>
			<smilew>22</smilew>
			<smileh>22</smileh>
		</size>   
		<emoticon>
			<name> Happy </name>
			<text> ":)" </text>
			<text> ":-)" </text>
			<file> happy.gif </file>
		</emoticon>
		<emoticon>
			<name> Wink </name>
			<text> ";)" </text>
			<text> ";-)" </text>
			<file> wink.gif </file>
			<animated> yes </animated>
		</emoticon>
		<emoticon>
			<name> Grin </name>
			<text> ":D" </text>
			<text> ":-D" </text>
			<text> ":>" </text>
			<text> ":->" </text>
			<file> yay.gif </file>
		</emoticon>
		<emoticon>
			<name> Cheeky </name>
			<text> ":P" </text>
			<text> ":-P" </text>
			<file> cheeky.gif </file>
		</emoticon>
		<emoticon>
			<name> Sad </name>
			<text> ":(" </text>
			<text> ":-(" </text>
			<text> ":&lt;" </text>  
			<text> ":-&lt;" </text> 
			<file> sad.gif </file>
		</emoticon>
		<emoticon>
			<name> Disgusted </name>
			<text> ":|" </text>
			<text> ":-|" </text>
			<file> what.gif </file>
		</emoticon>
		<emoticon>
			<name> Confused </name>
			<text> ":S" </text>
			<text> ":-S" </text>
			<file> confused.gif </file>
		</emoticon>
		<emoticon>
			<name> Surprised </name>
			<text> ":O" </text>
			<text> ":-O" </text>
			<file> omg.gif </file>
		</emoticon>
		<emoticon>
			<name> Wtf not in msn webpage </name>
			<text> ":`(" </text>
			<file> smilec.gif </file>
		</emoticon>
		<emoticon>
			<name> Crying </name>
			<text> ":'(" </text>
			<file> crying.gif </file>
			<animated> 1 </animated>
		</emoticon>
		<emoticon>
			<name> Angry </name>
			<text> ":@" </text>
			<text> ":-@" </text>
			<file> angry.gif </file>
		</emoticon>
		<emoticon>
			<name> Aggresive </name>
			<text> "8o|" </text>
			<file> grrr.gif </file>
		</emoticon>
		<emoticon>
			<name> Embarrassed </name>
			<text> ":$" </text>
			<text> ":-$" </text>
			<file> blush.gif </file>
		</emoticon>
		<emoticon>
			<name> Don't tell anyone </name>
			<text> ":-#" </text>
			<file> zippit.gif </file>
		</emoticon>
		<emoticon>
			<name> Whisper </name>
			<text> ":-*" </text>
			<file> whisper.gif </file>
		</emoticon>
		<emoticon>
			<name> Don't know </name>
			<text> ":^)" </text>
			<file> dunno.gif </file>
		</emoticon>
		<emoticon>
			<name> W/Glasses </name>
			<text> "8-|" </text>
			<file> glasses.gif </file>
		</emoticon>
		<emoticon>
			<name> Rolling eyes </name>
			<text> "8-)" </text>
			<file> rolleyes.gif </file>
			<animated> 1 </animated>
		</emoticon>
		<emoticon>
			<name> Sleepy </name>
			<text> "|-)" </text>
			<file> yawn.gif </file>
			<animated> 1 </animated>
		</emoticon>
		<emoticon>
			<name> Sick </name>
			<text> "+o(" </text>
			<file> sick.gif </file>
		</emoticon>
		<emoticon>
			<name> Thinking </name>
			<text> "*-)" </text>
			<file> hmmm.gif </file>
			<animated> 1 </animated>
		</emoticon>
		<emoticon>
			<name> Sarcastic </name>
			<text> "^o)" </text>
			<file> ohaye.gif </file>
		</emoticon>
		<emoticon>
			<name> Cool dude </name>
			<text> "(h)" </text>
			<file> cool.gif </file>
		</emoticon>
		<emoticon>
			<name> Brb not in msn webpage</name>
			<text> "(brb)" </text>
			<file> brb.gif </file>
		</emoticon>
		<emoticon>
			<name> Party </name>
			<text> "&lt;:o)" </text>
			<file> party.gif </file>
			<animated> yes </animated>
		</emoticon>
		<emoticon>
			<name> Angel </name>
			<text> "(a)" </text>
			<file> angel.gif </file>
		</emoticon>
		<emoticon>
			<name> Devil </name>
			<text> "(6)" </text>
			<file> horny.gif </file>
		</emoticon>
		<emoticon>
			<name> Heart </name>
			<text> "(l)" </text>
			<file> love.gif </file>
		</emoticon>
		<emoticon>
			<name> Broken heart </name>
			<text> "(u)" </text>
			<file> brokenheart.gif </file>
		</emoticon>
		<emoticon>
			<name> Kiss </name>
			<text> "(k)" </text>
			<file> kiss.gif </file>
		</emoticon>
		<emoticon>
			<name> Rose </name>
			<text> "(f)" </text>
			<file> rose.gif </file>
		</emoticon>
		<emoticon>
			<name> Wilted rose </name>
			<text> "(W)" </text>
			<file> wilted.gif </file>
		</emoticon>
		<emoticon>
			<name> Beer </name>
			<text> "(b)" </text>
			<file> beer.gif </file>
		</emoticon>
		<emoticon>
			<name> Cocktail glass </name>
			<text> "(D)" </text>
			<file> cocktail.gif </file>
		</emoticon>
		<emoticon>
			<name> Coffee cup </name>
			<text> "(C)" </text>
			<file> coffee.gif </file>
		</emoticon>
		<emoticon>
			<name> Birthday cake </name>
			<text> "(^)" </text>
			<file> cake.gif </file>
			<animated> true </animated>
		</emoticon>
		<emoticon>
			<name> Dinner plate </name>
			<text> "(pl)" </text>
			<file> plate.gif </file>
		</emoticon>
		<emoticon>
			<name> Pizza </name>
			<text> "(pi)" </text>
			<file> pizza.gif </file>
		</emoticon>
		<emoticon>
			<name> Telephone receiver </name>
			<text> "(t)" </text>
			<file> phone.gif </file>
		</emoticon>
		<emoticon>
			<name> Mobile Phone </name>
			<text> "(mp)" </text>
			<file> mobile.gif </file>
		</emoticon>
		<emoticon>
			<name> Envelope </name>
			<text> "(e)" </text>
			<file> envelope.gif </file>
		</emoticon>
		<emoticon>
			<name> Computer </name>
			<text> "(co)" </text>
			<file> computer.gif </file>
		</emoticon>
		<emoticon>
			<name> Clock </name>
			<text> "(o)" </text>
			<file> clock.gif </file>
		</emoticon>
		<emoticon>
			<name> Camera </name>
			<text> "(p)" </text>
			<file> camera.gif </file>
		</emoticon>
		<emoticon>
			<name> Film Reel </name>
			<text> "(~)" </text>
			<file> filmreel.gif </file>
		</emoticon>
		<emoticon>
			<name> Light bulb </name>
			<text> "(i)" </text>
			<file> lightbulb.gif </file>
		</emoticon>
		<emoticon>
			<name> Handcuffs not in msn webpage</name>
			<text> "(%)" </text>
			<file> handcuffs.gif </file>
		</emoticon>
		<emoticon>
			<name> Diablo toy </name>
			<text> "(||)" </text>
			<file> diablo.gif </file>
		</emoticon>
		<emoticon>
			<name> Umbrella </name>
			<text> "(um)" </text>
			<file> umbrella.gif </file>
		</emoticon>
		<emoticon>
			<name> XBox not in msn webpage </name>
			<text> "(xx)" </text>
			<file> xbox.gif </file>
		</emoticon>
		<emoticon>
			<name> Money </name>
			<text> "(mo)" </text>
			<file> coins.gif </file>
		</emoticon>
		<emoticon>
			<name> Gift with bow </name>
			<text> "(g)" </text>
			<file> present.gif </file>
		</emoticon>
		<emoticon>
			<name> Cigarette not in msn webpage</name>
			<text> "(ci)" </text>
			<file> cigarette.gif </file>
		</emoticon>
		<emoticon>
			<name> Car </name>
			<text> "(au)" </text>
		<file> car.gif </file>
		</emoticon>
		<emoticon>
			<name> Aeroplane </name>
			<text> "(ap)" </text>
			<file> plane.gif </file>
		</emoticon>
		<emoticon>
			<name> Football </name>
			<text> "(so)" </text>
			<file> football.gif </file>
		</emoticon>
		<emoticon>
			<name> Musical eighth note </name>
			<text> "(8)" </text>
			<file> note.gif </file>
		</emoticon>
		<emoticon>
			<name> Asl not in msn webpage </name>
			<text> "(?)" </text>
			<file> asl.gif </file>
		</emoticon>
		<emoticon>
			<name> Star </name>
			<text> "(*)" </text>
			<file> star.gif </file>
		</emoticon>
		<emoticon>
			<name> Half-moon </name>
			<text> "(S)" </text>
			<file> moon.gif </file>
		</emoticon>
		<emoticon>
			<name> Rainbow not in msn webpage </name>
			<text> "(r)" </text>
			<file> rainbow.gif </file>
		</emoticon>
		<emoticon>
			<name> Stormy </name>
			<text> "(st)" </text>
			<file> rain.gif </file>
			<animated> yes </animated>
		</emoticon>
		<emoticon>
			<name> Sun not in msn webpage</name>
			<text> "(#)" </text>
			<file> sun.gif </file>
		</emoticon>
		<emoticon>
			<name> Lightning </name>
			<text> "(li)" </text>
			<file> lightning.gif </file>
			<animated> yes </animated>
		</emoticon>
		<emoticon>
			<name> Island with palm tree </name>
			<text> "(ip)" </text>
			<file> desertisland.gif </file>
		</emoticon>
		<emoticon>
			<name> Dog </name>
			<text> "(&)" </text>
			<file> dog.gif </file>
		</emoticon>
		<emoticon>
			<name> Cat </name>
			<text> "(@)" </text>
			<file> cat.gif </file>
		</emoticon>
		<emoticon>
			<name> Turtle not in msn webpage </name>
			<text> "(tu)" </text>
			<file> turtle.gif </file>
		</emoticon>
		<emoticon>
			<name> Snail </name>
			<text> "(sn)" </text>
			<file> snail.gif </file>
		</emoticon>
		<emoticon>
			<name> Black Sheep </name>
			<text> "(bah)" </text>
			<file> sheep.gif </file>
		</emoticon>
		<emoticon>
			<name> Vampire bat </name>
			<text> ":-[" </text>
			<text> ":[" </text>
			<file> bat.gif </file>
			<animated> yes </animated>
		</emoticon>
		<emoticon>
			<name> MSN Messenger icon </name>
			<text> "(m)" </text>
			<file> messenger.gif </file>
		</emoticon>
		<emoticon>
			<name> Left hug </name>
			<text> "({)" </text>
			<file> boy_hug.gif </file>
		</emoticon>
		<emoticon>
			<name> Boy </name>
			<text> "(Z)" </text>
			<file> boy.gif </file>
		</emoticon>
		<emoticon>
			<name> Right hug </name>
			<text> "(})" </text>
			<file> girl_hug.gif </file>
		</emoticon>
		<emoticon>
			<name> Girl </name>
			<text> "(x)" </text>
			<file> girl.gif </file>
		</emoticon>
		<emoticon>
			<name> Thumbs up </name>
			<text> "(y)" </text>
			<file> agree.gif </file>
		</emoticon>
		<emoticon>
			<name> Thumbs down </name>
			<text> "(n)" </text>
			<file> disagree.gif </file>
		</emoticon>
		<emoticon>
			<name> Fingerscrossed not in msn webpage </name>
			<text> "(yn)" </text>
			<file> crossed.gif </file>
		</emoticon>
		<emoticon>
			<name> High five not in msn webpage </name>
			<text> "(h5)" </text>
			<file> highfive.gif </file>
		</emoticon>
	</smileys>
</skin>
