div#screenshots
{
  width: 550px;
  margin; 0px;
  padding: 0px
}

div#screenshots ul
{
  margin: 0px;
  padding: 0px;
  list-style: none
}

div#screenshots li
{
  float: left;
  margin: 0px 20px 10px 0px;
  text-align: center;
  font-weight: bold;
  color: #888
}

div#screenshots h3
{
  display: block;
  position: relative;
  float: left;
  top: 0px;
  margin: 0px 30px 10px 0px;
  clear: both;
  color: #3975b4;
  text-align: center
}

img.thumb
{
  width: 64px;
  height: 64px;
  padding: 10px;
  margin: 0px 0px 0px 0px;
}


a.screeny
{
  display: block;
  width: 100px;
  height: 100px;
  background: url(images/downloadbg.png);
}

a.screeny:hover
{
  background: url(images/downloadbg_hover.png);
}

img#focused
{
  width: 100px;
  height: 100px;
  margin: 0px 0px 5px 0px
}

/* formatting of toc list */

dl.toc img.toc_icon
{
  float:         left;
  display:       inline;   /* for MSIE */
  margin-right:  15px;
  margin-bottom: 5px;
}

img.toc_icon:hover
{
  background: url(images/downloadbg_hover.png);
}

* html dl.toc img.toc_icon
{
  position:      relative; /* for MSIE or it will hide the float */
}

dl.toc dt
{
  clear: both;
}

dl.toc dd
{
  margin-bottom: 7px;
}

dl.toc span.toc_title
{
  padding-top: 8px;
  display:     block;
  height:      1.5em;
  font-size:   15px;
}

dl.toc:after
{
/* clear content with css2 */
  content:     "."; 
  display:     block; 
  height:      0;
  line-height: 0%;
  clear:       both; 
  visibility:  hidden;
}

/* for ie/win \*/
* html dl.toc
{
  /* abuse MSIE bug for the same effect */
  height: 0.1em;
}
/* end */

img.distr
{
  background: url(images/downloadbg.png);
}
img.distr:hover
{
  background: url(images/downloadbg_hover.png);
}
span.command
{
  font-family:  monospace, fixed;
  color:        #23466C;
}
