div#screenshots
{
  width: 550px;
  margin; 0px;
  padding: 0px
}

div#screenshots ul
{
  margin: 0px;
  padding: 0px;
  list-style: none
}

div#screenshots li
{
  float: left;
  margin: 0px 20px 10px 0px;
  text-align: center;
  font-weight: bold;
  color: #888
}

div#screenshots h3
{
  display: block;
  position: relative;
  float: left;
  top: 0px;
  margin: 0px 30px 10px 0px;
  clear: both;
  color: #3975b4;
  text-align: center
}

img.thumb
{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 0px 0px 0px 0px;
}

/*
img.screenshot {
width:expression(document.body.clientWidth > 500? "500px": "auto" );
	max-width: 500px;
}*/

a.screeny
{
  display: block;
  width: 160px;
  height: 160px;
  background: url(images/screenybg2.png);
}

a.screeny:hover
{
  background: url(images/screenybg2_hover.png);
}

img#focused
{
  width: 310px;
  height: 300px;
  margin: 0px 0px 5px 0px
}
