[Desktop Entry]
Name=aMSN
Exec=amsn
Icon=amsn
Categories=Network;InstantMessaging;
GenericName=MSN Messenger for Linux
GenericName[fr]=MSN Messenger pour Linux
GenericName[de]=MSN Messenger für Linux
GenericName[nl]=MSN Messenger voor Linux
GenericName[no]=MSN Messenger for Linux
GenericName[es]=MSN Messenger para Linux
GenericName[tr]=MSN Messenger Programı
Terminal=false
Type=Application
StartupNotify=true
