[Desktop Entry]
Encoding=UTF-8
Name=aMSN
Exec=amsn
Icon=msn.png
Info=AMSN
Categories=Application;Network;InstantMessaging
Comment=MSN Messenger for Linux
Comment[fr]=MSN Messenger pour Linux
Comment[de]=MSN Messenger fr Linux
Comment[nl]=MSN Messenger voor Linux
Comment[no]=MSN Messenger for Linux
Terminal=false
Type=Application
StartupNotify=true
