[Desktop Entry]
Name=aMSN
Exec=amsn
Icon=amsn
Categories=Network;InstantMessaging;
Comment=MSN Messenger for Linux
Comment[fr]=MSN Messenger pour Linux
Comment[de]=MSN Messenger für Linux
Comment[nl]=MSN Messenger voor Linux
Comment[no]=MSN Messenger for Linux
Terminal=false
Type=Application
StartupNotify=true
