Source: amsn
Section: x11
Priority: optional
Maintainer: Theodore Karkoulis <bilbo@debian.org>
Build-Depends: debhelper (>> 4.0.0), tcl8.4-dev, tk8.4-dev
Standards-Version: 3.6.1

Package: amsn
Replaces: ccmsn
Architecture: any
Depends: tcl8.4, tk8.4, tcltls, ${shlibs:Depends}
Suggests: mozilla | galeon | konqueror, sox, docker
Description: An MSN messenger written in tcl
 A very nice MSN compatible messenger application. Works pretty much like its
 Windows based counterpart. Perfect for keeping in touch with those friends 
 who have not yet seen the light.
 .
 This package supersedes ccmsn, which is no longer maintained upstream.
